<div id="header-section" class="header-bg">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand-custom" href="#"><img class="img-responsive logo-img-custom" src="resources/images/logo.png" alt="Logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <a class="main-menu-logo" href=""><img class="img-responsive logo-img-custom" src="resources/images/logo.png" alt="Logo"></a>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <div class="pull-right">
                            <ul class="menu-items">
                                <li><a class="menu-item" href="">Buy</a></li>
                                <li><a href="">Rent</a></li>
                                <li><a href="">Find Agent</a></li>
                                <li><a href="">House Prices</a></li>
                                <li><a href="">Commercial</a></li>
                                <li><a href="">Overseas</a></li>
                                <li><a href=""><i class="fa fa-sign-in"></i> Sign In</a></li>
                                <li><a href=""><i class="fa fa-lock"></i> Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>